h2{
    color: #1100ff;
}
body {
    background-color: hsl(0, 4%, 67%);
}

#author {
    color:rgb(77, 15, 15);
}

.container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin: 150px;
  }
  
.item {
    height: 40px;
    margin-bottom: 10px;
    border: 5px solid rgb(0, 255, 55);
    
    
    width: 600px;
    
} 
#item1{
    background-color: #ff0000;
}
#item2{
    background-color: #e100ff;
}
#item3{
    background-color: #00c3ff;
}


